//  HOME-desscription
/* **************************************************** */
.home {
  

  &__description {
    background-image:url(../img/home/home_page-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
   
   &::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#14274A80, #14274A80);
    opacity: 50%;
   } 
  }
  
}



.description {
  display: flex;
  padding-top: 193px;
  padding-bottom: 30px;
  margin-bottom: 85px;
 



  &__container {
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    display: flex;
    position: relative;
    z-index: 5;
    
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    
  }
  &__text > *:not(:last-child){
    margin-bottom:7px;
  }
  &__text {
  margin-bottom: 108px;
  
  p:nth-child(1){
    font-size: rem(40);
    font-family: "Montserrat";
    line-height: percent(38px,35px);
  }
  p:nth-child(3){
    font-weight:700 ;
    font-size: rem(40);
    font-family: "Montserrat";
    letter-spacing: em(5);
  }
  p:nth-child(4){
    font-family: Montserrat;
    font-size: rem(20);
    font-weight: 400;
    line-height: percent(22px,20px);
    max-width: 374px;
    letter-spacing: rem(1);
  }
  
 
  }
 
		&__title {
      font-family: "Adobe Garamond Pro";
      font-weight: bold;
     
      font-size: rem(100);
		}

	

  &__buttons {
   @include flexc
  }

  &__btn {
  
  margin-bottom: rem(50);
  font-size: 25px;
  line-height: percent(30px,25px);
  font-weight: bold;
  img{
    padding-right: 18px;
  }
  
  }

  &__scrool {
    @include flexc;
    span{
      font-weight: 700;
      font-size: rem(20);
      line-height: percent(20,45);
      color:#FFFFFF;
      padding-bottom: 15px;
      letter-spacing: em(1);
    }
    img{
      animation: scrool 0.8s linear 0.8s infinite alternate ;
      transition: all 15s ease;
    }
  }
 
  @keyframes scrool {
    0% {
      transform: translateY(0%);
    }
  
    100% {
      transform: translateY(50%);
    }
  
    
  }
}




/* *************************************************** */
// section__about
/* *************************************************** */
.about{
  color: red;
}
/* *************************************************** */